div.error {
  color:       red;
  font-weight: bold;
}

input.feed_url {
  width: 45%;
}

#footer p {
  text-align: center;
  font-size: small;
}

/* CSS header/body/footer layout from
 * http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

#container {
   height:100%;
}
